#uno {background-color:rgb(134, 252, 187) ; font-size: medium;}
#dos {background-color:rgb(134, 252, 187) ; font-size: medium;}
.prim { background-color:rgb(134, 252, 187) ; color:rgb(72, 255, 72) ; font-size: medium; text-align: justify;}
h2 { color: blue; text-align: left; font-size: xx-large;}
blockquote {color: black; font-size: medium; text-align: justify;}
.primero {color: black; font-size: medium; text-align: justify;}